# --- Visual Studio ---
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db

# --- Carpetas de compilación (Binarios) ---
[Bb]in/
[Oo]bj/
publish/

# --- Otros archivos temporales ---
*.log
*.tmp
*.cache
*.tlog
*.idb
*.pdb
*.obj
*.dll
*.exe

# --- Carpetas de otros lenguajes/frameworks ---
node_modules/
dist/
.angular/